<html>
<head>
    <title>Добавить новость</title>
</head>
<body>
{{#message}}
{{message}}
{{/message}}
<form method="post">
    <input type="text" name="title" placeholder="Заголовок новости:">
    <br>
    <input type="text" name="text" placeholder="Новость:">
    <br>
    {{#categories}}
        <input type="checkbox" name="categories" value={{name}}>{{name}}
    {{/categories}}
    <br>
    <button type="submit">Добавить</button>
</form>

<p>
    <a href="/news">
        На главную
    </a>
</p>

</body>
</html>